<%- include('partials/header') %>
<script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
<script>
  const beamsClient = new PusherPushNotifications.Client({
  instanceId: '8b71d34a-2c25-472d-afa0-0864c8bd226d',
});

beamsClient.start()
  .then(beamsClient => beamsClient.getDeviceId())
  .then(deviceId =>
    console.log('Successfully registered with Beams. Device ID:', deviceId)
  )
  .then(() => beamsClient.addDeviceInterest('secret'))
    .then(() => beamsClient.getDeviceInterests())
    .then(interests => console.log('Current interests:', interests))
  .catch(console.error);
</script>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>

    <% usersWithSecrets.forEach(function(user) { %>
      <p class="secret-text"> <%= user.secret %> </p>

    <% }) %>
 



    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
